<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="{{page.title | strip_html}} {{page.excerpt | strip_html}} {{ site.description }}">
  <title>{% if page.title | strip_html %} {{ page.title | strip_html}} {% else %} {{ site.title }} {% endif %}</title>

  <!-- stylesheets -->
  <link media="all" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link media="all" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link media="all" rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}">
  <link media="all" rel="stylesheet" href="{{ "/assets/css/site.css" | prepend: site.baseurl }}">

  <!-- javascripts that cannot be added at the end of the bodys -->
  <!-- mathJAX library for rendering math -->
  <!--<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script> -->

</head>
